.landing_page{
    height: 100vh;
    background-image: url("../assets/bg_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #6fccd2a0;
}